<mat-toolbar color="primary"
> <img src="https://drive.google.com/uc?export=view&id=1Y20DR1LFuFC9MAy-sh6YHggMwKtWtORC" alt="image" style="object-fit: cover; width: 50px; height: 50px; padding-right: 3px;" ><span> Walk To Jerusalem</span>
  <span class="spacer"></span> <span style=" margin: auto;
  width: 50%;" *ngIf="!mobileCheck() && !maintenance && !apioffline">We have walked {{todayDist}}km today</span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" style="display: contents;" (click)="openDialog()" *ngIf="!maintenance && !apioffline">
  <mat-icon>add</mat-icon> Submit Walk
</button>

</mat-toolbar>
