<div class="parent">
  <app-header></app-header>
  <app-main></app-main>

  <div class="child">
    <hr>
    <mat-toolbar-row>
      <span>A Jack Cooper Project: Powered By ShulkerAPI V1.6</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="openTrello()">
        <mat-icon  svgIcon="trello"></mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="openGithub()">
        <mat-icon  svgIcon="git"></mat-icon>
      </button>
    </mat-toolbar-row>
  </div>
</div>
