<div class="parent">
  <app-header></app-header>
  <app-main class=""></app-main>

  <div class="child">
    <hr>
    <mat-toolbar-row>
      <span>A Jack Cooper Project: Powered By ShulkerAPI V1.6</span>
      <span class="example-spacer"></span>
      <div *ngIf="!mobileCheck()">
        <button mat-raised-button class="example-icon" aria-label="Example icon-button with share icon"  color="primary" (click)="openIssue()">
          Submit Issue
          </button>
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="openTrello()">
            <mat-icon  svgIcon="trello"></mat-icon>
          </button>
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="openGithub()">
            <mat-icon  svgIcon="git"></mat-icon>
          </button>
      </div>

    </mat-toolbar-row>
  </div>
</div>
