<mat-dialog-content>
  <h1>Submit Walk</h1>
  <p>Please ensure you round to the nearest km</p>
  <button mat-raised-button (click)="google()" [disabled]="disableButton"
            style="margin-bottom: 10px;">{{buttonText}}</button>

          <form [formGroup]="form">
            <mat-form-field appearance="fill">

              <mat-label>Distance (km)</mat-label>
              <input formControlName="distance" type="number" onKeyPress="if(this.value.length==2 ) return false; return event.charCode >= 48 && event.charCode <= 57;" (input)="changed($event)" (change)="changed($event) " min="1" step="1" max="50"
                matInput>
            </mat-form-field>
            <br>

          </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button  [disabled]="submitDisabled" (click)="submit()" color="primary"
  style="margin-bottom: 3px;">Submit</button>
<button mat-raised-button color="warn" mat-dialog-close tabindex="-1" >Cancel</button>
</mat-dialog-actions>
